.header {
    height: 46px;
    display: flex;
    flex-direction: row;
    padding: 0px 16px;
    padding-bottom: 12px;
    padding-top: 5px;
    justify-content: space-between;
    align-items: center;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    background-color: rgb(0, 0, 0);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(255, 255, 255, 0.4);
}

.left-section {
    display: flex;
    align-items: center;
}

.hamburger-menu {
    height: 24px;
    padding: 8px;
    filter: invert(1);
    margin-right: 16px;
}

.youtube-logo {
    height: 20px;
}

.middle-section {
    flex: 1;
    margin-left: 40px;
    margin-right: 40px;
    max-width: 728px;
    display: flex;
    align-items: center;
}

.search-bar {
    display: flex;
    flex: 1;
    height: 36px;
    margin-left: 70px;
    padding: 0 4px 0 18px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border: 1px solid rgb(48, 48, 48);
    color: white;
    
    background-color:rgba(255, 255, 255, 0.01);
    font-size: 16px;
    width: 0;
    transition: 0.15s;
    outline: none;
}

.search-bar::placeholder {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.88);
}

.search-bar:focus {
    border-color: hwb(208 24% 0%);
}
.search-button {
    height: 38px;
    width: 54px;
    padding: 5px;
    background-color:rgba(255, 255, 255, 0.15);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-color: rgb(48, 48, 48);
    border-width: 0;
    border-style: solid;
    margin-right: 8px;
    cursor: pointer;

}

.search-button, .voice-search-button, .upload-icon-container, .notifications-icon-container {
    display: flex;
    position: relative;    
    justify-content: center;
    align-items: center;
}

.search-button .tooltip,
.voice-search-button .tooltip {
    position: absolute;
    background-color: rgb(97, 97, 97);
    color: white;
    padding: 8px;
    border-radius: 4px;
    font-size: 12px;
    bottom: -50px;
    opacity: 0;

    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;

}

.upload-icon-container .tooltip {
    position: absolute;
    background-color: rgb(97, 97, 97);
    color: white;
    padding: 8px;
    border-radius: 4px;
    font-size: 12px;
    bottom: -50px;
    right: 8px;
    opacity: 0;

    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}

.notifications-icon-container .tooltip {
    position: absolute;
    background-color: rgb(97, 97, 97);
    color: white;
    padding: 8px;
    border-radius: 4px;
    font-size: 12px;
    bottom: -50px;
    right: -12px;
    opacity: 0;

    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip, 
.upload-icon-container:hover .tooltip, 
.notifications-icon-container:hover .tooltip {
    opacity: 1;
} 

.search-icon {
    height: 24px;
    filter: invert(1);
}

.voice-search-icon {
    height: 24px;
    filter: invert(1);
}

.voice-search-button {
    background-color:rgba(255, 255, 255, 0.1);
    height: 40px;
    width: 40px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
}

.right-section {
    width: 225px;
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
}

.upload-icon {
    height: 30px;
    margin-top: 5px;
    margin-right: 16px;
    filter: invert(1);
}

.notifications-icon {
    height: 30px;
    margin-top: 5px;
    margin-right: 16px;
    filter: invert(1);
}

.notifications-icon-container{
    position: relative;
}

.notifications-count {
    position: absolute;
    top: 5px;
    right: 15px;
    background-color: rgb(200, 0, 0);
    color: white;
    font-size: 10px;
    padding: 2px 5px;
    border-radius: 20px;

}

.current-user-picture {
    height: 32px;
    border-radius: 50px;
    margin: 0px 6px;
    margin-top: 5px;
}